.container {
  width: 100%;
  max-width: var(--container-max, var(--container-width));
  margin-inline: auto;
  padding-inline: var(--container-pad);
}

@media screen and (max-width: 1279px) {
  .container {
    padding-inline: var(--container-pad-md);
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding-inline: var(--container-pad-sm);
  }
}
